<%= form_for(setup_customer(@customer_detail)) do |f| %>
        <% if @customer_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer_detail.errors.count, "error") %> prohibited this customer_detail from being saved:</h2>

      <ul>
      <% @customer_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <h3>Register</h3>
    <fieldset>
      <legend>Enter your details</legend>
      <div class="field">
        <%= f.label :email, 'Email:' %>
        <%= f.text_field :email, size: 40 %>
      </div>
      <div class="field">
        <%= f.label :password, 'Password:' %>
        <%= f.password_field :password, size: 40 %>
      </div>
      <div class="field">
        <%= f.label :password_confirmation, 'Confirm:' %>
        <%= f.password_field :password_confirmation, size: 40 %>
      </div>
      <%= f.fields_for :customer do |ff|%>
          <div class="field">
            <%= ff.label :name, 'Name:' %>
            <%= ff.text_field :name, size: 40 %>
          </div>
          <div class="field">
            <%= ff.label :address, 'Address:' %>
            <%= ff.text_field :address, size: 40 %>
          </div>
      <% end %>
      <div class="actions">
        <%= f.submit 'Submit' %>
      </div>
    </fieldset>
<% end %>
