<p id="notice"><%= notice %></p>

<h1>Listing Customer Details</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customer_details.each do |customer_detail| %>
      <tr>
        <td><%= customer_detail.email %></td>
        <td><%= link_to 'Show', customer_detail %></td>
        <td><%= link_to 'Edit', edit_customer_detail_path(customer_detail) %></td>
        <td><%= link_to 'Destroy', customer_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer detail', new_customer_detail_path %>
