<%= form_for(@order_detail) do |f| %>
  <% if @order_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order_detail.errors.count, "error") %> prohibited this order_detail from being saved:</h2>

      <ul>
      <% @order_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :customerEmail %><br>
    <%= f.text_field :customerEmail %>
  </div>
  <div class="field">
    <%= f.label :customerFirstname %><br>
    <%= f.text_field :customerFirstname %>
  </div>
  <div class="field">
    <%= f.label :customerSurname %><br>
    <%= f.text_field :customerSurname %>
  </div>
  <div class="field">
    <%= f.label :customerPhone %><br>
    <%= f.text_field :customerPhone %>
  </div>
  <div class="field">
    <%= f.label :customerAddress %><br>
    <%= f.text_field :customerAddress %>
  </div>
  <div class="field">
    <%= f.label :productNumber %><br>
    <%= f.text_field :productNumber %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.text_field :quantity %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
