<p id="notice"><%= notice %></p>

<h1>Available, Cheapest Wines</h1>

<table>
  <% @wines.each do |wine| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td>
          <%= link_to image_tag(wine.image_url, class: 'list_image'), wine %>
        </td>
        <td class="list_description">
          <dl>
            <dt><%= link_to wine.name, wine %></dt>
            <dd><%= truncate(strip_tags(wine.description), :length => 50) %></dd>
          </dl>
        </td>
        <td class="list_description">
          <dl>
            <dd><strong>Price:</strong> £<%= wine.price %></dd>
            <dd><strong>Size:</strong> <%= wine.bottle_size %></dd>
            <dd><strong>Supplier:</strong> <%= wine.supplier %></dd>
          </dl>
        </td>
      </tr>
  <% end %>
</table>

<%= will_paginate @wines %>

<% @response %>
