<p id="notice"><%= notice %></p>

<h1>Available, Cheapest Wines</h1>

<p>
  <%= form_tag wines_search_path, :method => 'get' do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
    </p>
<% end %>
</p>

<table>
  <% @wines.each do |wine| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td>
          <%= link_to (image_tag(wine.image_url, class: 'list_image')), wine_path(wine, page:@current_page, search:@last_search) %>
        </td>
        <td class="list_description">
          <dl>
            <dt><%= link_to wine.name, wine_path(wine, page:@current_page, search:@last_search) %></dt>
            <dd><%= truncate(strip_tags(wine.description), :length => 50) %></dd>
          </dl>
        </td>
        <td class="list_description">
          <dl>
            <dd><strong>Price:</strong> <%= number_to_currency(wine.price, :unit => '£') %></dd>
            <dd><strong>Size:</strong> <%= wine.bottle_size %></dd>
            <dd><strong>Supplier:</strong> <%= wine.supplier %></dd>
          </dl>
        </td>
      </tr>
  <% end %>
</table>
<%= page_entries_info @wines %>
<%= will_paginate @wines %>

<% @response %>
